ul{
    list-style: none;
    
}
.button{
 
    background-color:transparent;
    color:black;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
    
    width: fit-content;
}

.bar1,.bar3{
    width: 2rem;
    height:5px;
    background-color: black;
    transition: 0.5s;
}
.bar2{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    transition: 0.5s;
}
.span1{
    height:5px;
    width: 1rem;
    background-color: black;
}.span2{
    height:5px;
    width: 0.5rem;
    background-color: black;
}
.bar11{
    transition: 0.5s;
    height:6px;
    width: 2rem;
    background-color: black;
    transform: rotate(120deg);
}
.bar12{
    transition: 0.5s;
    display: none;
}
.bar13{
    transition: 0.5s;
    height:6px;
    width: 2rem;
    /* margin-top: 10px; */
    background-color: black;
    transform: rotate(226deg);
}
.navigation{

    display: flex;
    gap: 2.7rem;
    flex-direction: column;
    width: 48px;
    justify-content: center;

}.nav{
    width: 30rem;
    height: 100vh;
    display: flex;

background: rgba(255, 255, 255, 0.5);
border-radius: 4px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.7px);
-webkit-backdrop-filter: blur(13.7px);
  transition: 0.5s;
  transform: translateX(2rem);
  position: relative;
  left: -4rem;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;


}.a{
 
    color: black;
    font-size: large;
    font-weight: 600;
    border-bottom: none;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 7px 10px 5px #808080;
    letter-spacing: 1px;
}.b{
    color: black;
    font-size: large;
    font-weight: bold;
    border-bottom: none;
    font-family: 'Bebas Neue', sans-serif;

visibility: 0;}
.li{
    visibility:initial
}
a:hover{
    color: green;
    text-decoration: none;

}
.hidden{
    opacity: 0;
    height: 100vh;
    width: 30rem;
   display: flex;
  justify-content: center;
  background:rgba(255,255,255,0.5);
  transition: 0.5s;
  transform: translateX(-2rem);
  position: relative;
  left: -3rem;

}a{
    color: black;
    text-decoration: none;
}
.width{
    transform: translateX(2rem);
}.navcon{
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
}
.actived{
    color: greenyellow;
}

.header{
    background:rgba(255,255,255,0.5);
    width: 100%;
    height: 120px ;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
}
.headerrow{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}.logo{
    width: 15%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
    bottom: 17px;
    left: 8rem;
}.logo a{
width: 100%;
}.logo a img{
    width: 100%;
}
.findtext{
    display: flex;
    flex-direction: row;
    gap: 10px;
font-size: 1.5rem;
font-weight: bold;
font-family: 'PT';
justify-content: center;
align-items: center;

}
.div1,.div2{
   
    width: 2rem;
height: 3px;
    background-color:white;
}.barwrapper{
    margin-top: 20px; 
    
    border: 2px solid white;
    align-items: center;
    justify-content: center;
border-radius: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1px;
    height: 70px;
    width: 70px;
}.searchinput{
    border: none;
    background-color: inherit;
    border-radius: 4px;
    height: 2rem;
    width: 12rem;
    padding-left: 1rem;
    font-size: 1rem;

}.findtext{

    background-color: rgba(255, 255, 255, 0.5);
    padding-left:1rem ;
    padding-right:1rem ;
    padding-bottom: 0.5rem;
    padding-top: 0.2rem;
    height: 44px;
    border-radius: 6px;
    box-shadow: 7px 7px 55px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 7px 55px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 7px 55px 0px rgba(0,0,0,0.75);
}
.searchinput:focus{
    border-bottom:2px solid black ;
}.show{
    display: block;
}.none{
    display: none;
}
ul li:hover ~.Cursor{
    transform: scale(5);
}